body {
    height: 100%;
    background-color: skyblue;
    background-image: url('/images/Day.jpg') ;
    background-size: cover;
}

:root {
    --Colors-transparentGray-rgba: rgba(45, 46, 46, 0.5);
    --Colors-darkBlue-rgba: rgba(0, 115, 171, .5);
}

.wBackground {
    height: 100vh;
    min-height: 500px;
}

.weather-cards:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.0);
  }

    #wMain {
        margin-top: 10px;
    }

    #wTitle {
        font-weight: 700;
        font-size: 2.5em;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
    }

    
    #topCard {
        margin-bottom: 12px;
    }

    #wCurrentCard {
        color: white;
        background-color: var(--Colors-darkBlue-rgba);
    }

    #wCurrentCardNight {
        color: white;
        background-color: var(--Colors-transparentGray-rgba);
    }

    #weatherIcon {
        max-width: 100%;
        height: auto;
    
    }

    #location{
        font-weight: bolder;
    }

    #currentTemp {
        font-size: 6em;
    }

    #middleSpace {
        width: 12px;
    }

    #wConditions {
        color: white;
        background-color: var(--Colors-darkBlue-rgba);
    }

    #wConditionsNight {
        color: white;
        background-color: var(--Colors-transparentGray-rgba);
    }

    #wForecast {
        color: white;
        text-decoration: none;
        background-color: var(--Colors-darkBlue-rgba);
    }

    #wForecastNight {
        color: white;
        text-decoration: none;
        background-color: var(--Colors-transparentGray-rgba);
    }

    #footer div a {
        font-size: 1em;
        color: white;
    }

    #footerNight div a {
        color: white;
    }

    a.nav-link {
        color: white;
    }

@media (min-width: 576px) {
    #wTitle {
        font-size: 1.5em;
    }

    #wCurrent,
    #wConditions {
        font-size: 1.5em;
    }
}


@media (min-width: 768px) {
    #wTitle {
        font-size: 2em;
    }

    #wCurrent,
    #wConditions {
        font-size: 1.5em;
    }
}


@media (min-width: 992px) {
    #wTitle {
        font-size: 2em;
    }

    #wCurrent,
    #wForcast {
        font-size: 1.5em;
    }


}

@media (min-width :992px) {
    #wBackground {
        font-size: 1em;
    }
}



